<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, local: true, multipart: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <p>
    <% if @blog.image.present? %>
      <%= image_tag @blog.image.url %>
      <%= form.hidden_field :image_cache %>
    <% else %>
      画像なし
    <% end %>
  </p>

  <%= form.submit  "登録する" %>
<% end %>